.team-header {
     height: calc(100vh - 110px);
     max-height: 660px;
     min-height: calc(677px - 100px);
     display: flex;
     align-items: center;
     justify-content: center;
     .main {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: calc(100vh - 140px);
          position: relative;
          max-height: 530px;
          justify-content: center;
          .title-desc {
               margin-top: 10px;
               font-family: Poppins;
               font-size: 16px;
               font-style: normal;
               font-weight: 500;
               line-height: 26px;
               letter-spacing: 0em;
               text-align: center;
               color: #6e6e6e;
               margin-bottom: 40px;
          }
          .btn {
               height: 56px;
               width: 222px;
          }
          .images {
               position: absolute;
               height: 100%;
               width: 100%;
               z-index: -1;
               img {
                    position: absolute;
                    &:nth-child(1) {
                         left: 85px;
                         top: 53px;
                    }
                    &:nth-child(2) {
                         left: 219px;
                         top: 28px;
                    }
                    &:nth-child(3) {
                         left: 423px;
                         top: 32px;
                    }
                    &:nth-child(4) {
                         left: 252px;
                         top: 212px;
                    }
                    &:nth-child(6) {
                         left: 0px;
                         top: 190px;
                    }
                    &:nth-child(5) {
                         left: 235px;
                         bottom: 54px;
                    }
                    &:nth-child(7) {
                         right: 401px;
                         top: 16px;
                    }
                    &:nth-child(8) {
                         right: 214px;
                         top: 28px;
                    }
                    &:nth-child(9) {
                         right: 28px;
                         top: 0px;
                    }
                    &:nth-child(10) {
                         right: 112px;
                         top: 161px;
                    }
                    &:nth-child(11) {
                         right: 0;
                         bottom: 125px;
                    }
                    &:nth-child(12) {
                         right: 163px;
                         bottom: 0;
                    }
               }
          }
     }
}
